body{
    margin: 0;
    overflow-x: hidden;
    background-color: #CAF4F4;
    font-family: 'Montserrat', 'sans-serif';
}
header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    background-color: #DFF8F8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0;
}
.logo{
    /* background-image: url("./Images/logo.png"); */
    background-image: url("../SwaasIcons/logo.png");

    background-size: cover;
    height: 80px;
    width: 160px;
    margin-left: 1rem ;
}
.profile-photo{
    /* background-image: url("./Images/profile-photo.png"); */
    background-image: url("../SwaasIcons/profile-photo.png");

    background-size: cover;
    height: 80px;
    width: 80px;
    margin-right: 3rem;
}
.signup-sidebar{
    height:110vh;
    width: 30vw;
    background-color: #8BE7E7;
    position: absolute;
    top: 80px;
}
.signup-heading{
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 3.5rem;
}
.signup-photo{
    /* background-image: url("./Images/signup-page-photo-removebg-preview.png"); */
    background-image: url("../SwaasIcons/signup-page-photo-removebg-preview.png");

    height: 32vw;
    width: 39vw;
    position: relative;
text-align: center;
z-index: 99;
margin-left: 2rem;
}
.signup-main{
    width: 73vw;
    height: 110vh;
    
    border: 3px solid black;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: absolute;
    top:80px;
    left: 25vw;
    background-color: #CAF4F4;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.signup-main-info{
    height: 100%;
    width: 84%;
    margin-left: 150px;
}
.signup-main-heading{
    font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
  color: #4499BF ;
  background-clip: text;
}
.signup-info-box{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}
.signup-box-firstname{
    height: 4rem;
    width: 45%;
    margin-top: 0.5rem;
}
.signup-box-lastname{
    height: 4rem;
    width: 45%;
    margin-top: 0.5rem;
}
.name-int{
    font-size: 1.25rem;
    color: #4499BF;
    margin-left: 16px;
}
.name-inp{
    height: 1.5rem;
    background-color: #CAF4F4;
    margin-top: 0.4rem;
    text-align: left;
    border-radius: 6px;
    width: 85%;
    font-size: 1.25rem;
}
.signup-int{
    font-size: 1.25rem;
    color: #4499BF;
}
.signup-box-email{
    height: 4rem;
    width: 90%;
    margin-top: 0.5rem;
   
}
.signup-inp{
    height: 1.5rem;
    background-color: #CAF4F4;
    margin-top: 0.4rem;
    text-align: left;
    border-radius: 6px;
    width: 90%;
    font-size: 1.2rem;
}
.signup-box-password{
    height: 4rem;
    width: 90%;
    margin-top: 0.5rem;
    
}
.signup-box-addhar{
    height: 4rem;
    width: 90%;
    margin-top: 0.5rem;
}
.signup-box-uhi{
    height: 4rem;
    width: 90%;
    margin-top: 0.5rem;
}
.for-uhi{
    color: #CEA7A7;
}
.signup-box-submit a{
text-decoration: none;
font-size: 1.25rem;
color: #203EA9;
}
.signup-box-submit a:hover{
    text-decoration: underline;
}
.signup-btn{
    height: 3rem;
    width: 14rem;
    text-align: center;
    border-radius: 1rem;
    background:linear-gradient(to left,#99E5A2,#41D8DD);
    color:white;
    font-size: 1.5rem;
    padding-top: 0.5rem;
    cursor: pointer;
    border: none;
    margin-left: 3rem;
    margin-top: 0;
    margin-bottom: 0;
}
.SignUPblank{
    margin-right: 4rem;
    height: 0;
    width: 95%;
    border: 1px solid black;
    margin-bottom: 0;
}
.socialmedia{
    height: 6rem;
    width: 80%;
    margin-top: 1.5rem;
    margin-left: 4rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.media-btn{
    height: 2.5rem;
    width: 45%;
    border-radius: 1rem;
    background-color: #CAF4F4;
    font-size: 1.25rem;
    color: #6999B3;
    cursor: pointer;
}
.media-btn i{
    font-size: 1.5rem;
    color: black;
}
.media-btn:hover{
    box-shadow: 2px 4px 8px #6999B3;
}
.signup-btn:hover{
    box-shadow: 2px 4px 8px #6999B3;
}
input:hover{
    box-shadow: 2px 4px 8px #6999B3;
}