body{
    margin: 0;
    overflow-x: hidden;
    background-color: #CAF4F4;
    font-family: 'Montserrat', 'sans-serif';
}
.header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    background-color: #DFF8F8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0;
}
.logo{
    /* background-image: url("./Assets/Images/logo.png"); */
    background-image: url("../SwaasIcons/logo.png");

    background-size: cover;
    height: 75px;
    width: 150px;
    margin-left: 1rem ;
}
.profile-photo{
    /* background-image: url("./Assets/Images/profile-photo.png"); */
    background-image: url("../SwaasIcons/profile-photo.png");

    background-size: cover;
    height: 80px;
    width: 80px;
    margin-right: 3rem;
}
.Main{
    margin-top: 3vw;
    width: 80vw;
    height: inherit;
    background-color: #CAEFD1;
    display: flex;
}
.info{
    height: inherit;
    width: 40vw;
    margin-left: 1.5rem;
    margin-top: 0;
    padding-top: 0;
}
.photo1{
    background-image: url("../SwaasIcons/photo1.jpg");
    background-size:cover;
    height:auto;
    width: 35vw;
   
}
.HI{
font-size: 2.5rem;
color:#6999B3;
font-weight:600;
text-align: center;
}
.HI1{
    margin-bottom: 0;
}
.HI2{
    margin-top: 0;
    margin-bottom: 1.2rem;
}
.info1{
    margin-top: 0;
    font-size: 1.5rem;
    color:#307743;
    font-weight:400;
    margin-bottom: 0;
    text-align: center;
}
.button{
    height: 3rem;
    width: 14rem;
    text-align: center;
    border-radius: 1rem;
    background:linear-gradient(to left,#99E5A2,#41D8DD);
    color:white;
    font-size: 1.2rem;
    padding-top: 0.4rem;
    cursor: pointer;
    margin-left: 36%;
    border: none;
    margin-top: 2rem;
}
.INF-H{
    text-align: center;
    font-size: 2.5rem;
    color:#6999B3;
    font-weight: 600;
    margin-top: 7vh;
    margin-bottom: 7vh;
}
.info2{
    display: flex;
    justify-content: center;
    height: inherit;
    width: 60vw;
    border-radius: 1rem;
    background-color: #CAEFD1;
    align-items: center;
    margin-left: 19%;
}
.photo2Mental{
    background-image: url("../SwaasIcons/photo2.jpeg");
    background-size: cover;
    height: 300px;
    width: 400px;
    border-radius: 1rem;
}
.info3{
    width: 300px;
    height: 300px;
    margin-right: 20px;
}
.para{
    text-align: center;
    font-size: 1.2rem;
    color:#307743;
    font-weight:400;
    margin-top: 2rem;
}
#button2{
    height: 2.5rem;
    width: 10rem;
    text-align: center;
    border-radius: 1rem;
    background:linear-gradient(to left,#99E5A2,#41D8DD);
    color:white;
    font-size: 1.2rem;
    padding-top: 0.4rem;
    cursor: pointer;
    margin-left: 4.2rem;
    border: none;
    margin-top: 1rem;
}
.nav{
   margin-left: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    height: 200px;
    width: 95vw;
    justify-content:space-between;
    flex-wrap: wrap;
}
.nav1{
    height: 50px;
    width: auto;
    background-color: #CAEFD1;
    border-radius: 1rem;
    margin-top: 1.5rem;
    justify-content: center;
    align-items: center;
}
.nav1 a{
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    color:#307743;
    font-weight:400;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
   
}
.nav1:hover{
    box-shadow: 2px 4px 8px #6999B3;
}
#button1:hover{
    box-shadow: 2px 4px 8px #6999B3;
}
#button2:hover{
    box-shadow: 2px 4px 8px #6999B3;
}
.review{
    display:flex;
    justify-content: center;
    height: 300px;
    width: 75vw;
    margin-top: 6rem;
    background-color:#CAEFD1;
}
.review p{
    text-align: center;
    font-size: 2rem;
    color: black;
    position: relative;
    top: 140px;
    font-weight: bold;
}
.footer{
    height: 400px;
    width: 100vw;
    background:linear-gradient(#99E5A2,#41D8DD);
    margin-top: 10rem;
}