body{
  margin: 0;
  overflow-x: hidden;
  background-color: #CAF4F4;
  font-family: 'Montserrat', 'sans-serif';
}
.header{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 80px;
  background-color: #DFF8F8;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0;
}



/* ----------------------------> */
 .profile-pic {
  color: transparent;
  transition: all .3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all .3s ease;
  

  input {
    display: none;
  }
  img {
    position: absolute;
    object-fit: cover;
    width: 165px;
    height: 165px;
    box-shadow: 0 0 10px 0 rgba(73, 10, 230, 0.35);
    border-radius: 200px;
    
    z-index: 0;

  }
  
  .-label {
    cursor: pointer;
    height: 165px;
    width: 165px;
  }
  
  &:hover {
    .-label {
      display: flex;
  justify-content: center;
  align-items: center;
      background-color: rgba(0,0,0,.8);
      z-index: 10000;
      color: rgb(250,250,250);
      transition: background-color .2s ease-in-out;
      border-radius: 100px;
      margin-bottom: 0;
    }
  }
  
  span {
    display: inline-flex;
    padding: .2em;
    height: 2em;
  }
}


/* body {
  height: 100vh;
  background-color: rgb(25, 24, 21);
  display: flex;
  justify-content: center;
  align-items: center;
  
  a:hover {
    text-decoration: none;
  }
}  */


/* ------------------------------------> */

.sidebar{
  height: 70rem;
  width: 20rem;
margin-left:8rem;
margin-top: 5rem;
display: inline-block;
}
.photo{
  margin-left: 4rem;
  margin-top: 1rem ;
 height: 15rem;
 width: 12rem;
}
.photo-img{
  height: 12rem;
  width: 12rem;
  border-radius: 6rem;
  background-color: white;
}
.photo-info{
  text-align: center;
  font-size: 1.25rem;
color:black;
font-weight:400;
margin-top: 0.5rem;
}
.line{
  position: absolute;
  left:31rem;
  top:10rem;
  height: 68rem;
  width: 0px;
  border: 1px solid black;
}
.main{
  position: absolute;
  top: 9rem;
  left: 32rem;
  width: 35rem;
  height:72rem;
  margin-left: 5rem;
}
.heading{
  text-align: center;
  font-size: 1.8rem;
  color:#6999B3;

  font-weight:500;
}
.info{
  height: 100%;
  width: 30rem;
  margin-left: 2.5rem;
 display: flex;
 flex-wrap: wrap;
}
.name{
  margin-top: 0.5rem;
  height: 10rem;
  width: 100%;
  display:flex;
  flex-direction: column;
}
.name-info{
  font-size: 1.2rem;
  color:#6999B3;
  font-weight:600;
}
.Addresscodes{
  display: flex;
  justify-content: space-between;
  
}
#ab{
  background-color: #CAF4F4;
  margin-top: 0.7rem;
  color:black;  text-align: left;
  border-radius: 6px;
  font-size: 1rem;
  
  opacity:0.86;
  height: 1.8rem;
}
.dob{
  width: 14rem;
  height: 4rem;
}
.dob-info{
  font-size: 1.1rem;
  color:#6999B3;
  font-weight:600;
}
.age{
  width:4rem;
  height: 4rem;
  margin-left: 0.5rem;
}
.age-info{
  font-size: 1.1rem;
  color:#6999B3;
  font-weight:600;
}
.gender{
  width:9rem;
  height: 4rem;
  margin-left: 1rem;
}
.gender-info{
  font-size: 1.1rem;
  color:#6999B3;
  font-weight:600;
}
.email{
  margin-left: 1px;
}
#ac{
  background-color: #CAF4F4;
  margin-top: 0.7rem;
  color:black;  text-align: center;
  border-radius: 6px;
  font-size: 1rem;
  
  opacity:0.86;
  height: 1.8rem;
}
.contact{
  width: 14rem;
  height: 4rem;
}
.emergency{
  width: 16rem;
  height: 4rem;
}
.contact-info{
  font-size: 1.1rem;
  color:#6999B3;
  font-weight:600;
}
.footer{

  height: 400px;
  width: 100vw;
  background:linear-gradient(#45969F,#45969F);
}
input:hover{
  box-shadow: 2px 4px 8px #45969F;
}
.Save{
  margin-left: 10rem;
  margin-top: 0.5rem;
  height: 2.5rem;
  width: 15rem;
  border-radius: 0.8rem;
  text-align: center;
  background:linear-gradient(to left,#99E5A2,#41D8DD);
  font-size: 0.8rem;
  font-weight: 800;
}
.Edit{
  margin-left: 10rem;
  margin-top: 0.5rem;
  height: 2.5rem;
  width: 15rem;
  border-radius: 0.8rem;
  text-align: center;
  background:linear-gradient(to left,#99E5A2,#41D8DD);
  font-size: 0.8rem;
  font-weight: 800;
}