.profile-photo{
    /* background-image: url("./usercircle.png"); */
    background-image: url("../SwaasIcons/usercircle.png");

    background-size: cover;
    height: 80px;
    width: 80px;
    margin-right: 3rem;
    @media screen and (max-width:480px) {
        position: relative;
        right: -3rem;
        height: 4rem;
        width: 4rem;
        top: 0.5rem;        
    }
    @media screen and (max-width:480px)  {
        .profdiv{
height:5rem;
        }
    }
    
}