.logo{
    /* background-image: url("./logo.png"); */
    background-image: url("../SwaasIcons/logo.png");

    background-size: cover;
    height: 75px;
    width: 150px;
    margin-left: 1rem ;
    @media screen and (max-width:480px) 
  {
    height: 4rem;
    width: 8.5rem;
    position: absolute;
    left: 4rem;
    top: 0.5rem;
    margin-left: 0rem;
  }
  
  }
  